<p>
  <strong>Set Filters</strong>
</p>

<%=form_tag({controller: 'graphs', action: 'apply'}, {method: 'post'}) do %>
  <p><%= select(:graph_group, '', options_for_select([["Win/Loss", "win_loss"], ["Game Frequency", "frequency"]]), {prompt: 'Select Data for Graph', selected: nil}, {id: 'graph_group', class: 'form-control'}) %></p>
  <p><%= select(:player_id, '', @players.map{|p| [p.name, p.id]}, {prompt: 'Select Player', selected: nil}, {id: 'player_id', class: 'form-control'}) %></p>
  <p><%= submit_tag 'Submit', {class: "btn btn-default"} %></p>
<% end %>